<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452081077179-s4hdcu4fgek5kolem2piuv1oq58nchh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452081077179-s4hdcu4fgek5kolem2piuv1oq58nchh5</string>
	<key>API_KEY</key>
	<string>AIzaSyBoiDi49osEO58R9kiweqZ98fndvATBw50</string>
	<key>GCM_SENDER_ID</key>
	<string>452081077179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.leftPane</string>
	<key>PROJECT_ID</key>
	<string>money-manager-6d33a</string>
	<key>STORAGE_BUCKET</key>
	<string>money-manager-6d33a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452081077179:ios:bf98bfea3920d5db4ed29e</string>
</dict>
</plist>